.hero-container{
    width: 70%;
    height: 45rem;
    border: 2px solid red;
    margin: 0 auto;
    position: relative;
}
.arrow img{
    width: 2.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity:.5;
}
.arrow img:hover,
.arrow img:focus{
    opacity: 1;
}
.left img{
    left:4px;
}
.right img{
    right:0;
}