@use "@/styles/Variables.scss" as v;
.search-form-wrapper{
    flex: 1;
}
.search__form{
    width: 30%;
    margin: 0 auto;
}
.search__elements{
    display: flex;
    align-items: center;
    background-color: v.$clr-white;
    padding: .3rem .6rem;
    border-radius: 100vh;
}
.search__elements input{
    font-size: 1.25rem;
    flex: 1;
}